<div id="book-main">
	<h2 id="book-preview-title">{{book.title}}</h2>
	<br>
	<img src={{book.imageUrl}} id="book-preview-cover" alt="Book Cover">
	<div id="book-preview-description">{{book.description}}</div>
	{{barcode-reader}}
</div>