<div>
	<h3>Books</h3>
	{{#masonry-grid id="books-list" config=options widgets=books as |book|}}
    <a href="/book/{{book.id}}">
    	<img src={{book.imageUrl}} class="book transitions" title={{book.title}}>
		</a>
	{{/masonry-grid}}
</div>