<div id="reviews">
	<h3>Reviews</h3>
	<textarea id="review-input-area" class="transitions" placeholder="Add a review"></textarea>
	<button {{action "addReview"}} class="btn-book-preview">Add review</button>
	<br><br><br>

	{{#each reviews key="@index" as |review|}}
		<div class="review-wrapper">
			<span class="reviewer">{{review.reviewer}}</span>
			<div class="review">{{review.review}}</div>
			<div class="speech-bubble-ds-arrow"></div>
		</div>
	{{/each}}
</div>