<div id="landing-page-auth-section">
	<img src="/assets/img/code.png" id="landing-page-logo" title="CODE Logo" alt="CODE Logo">
	<br>
	<button {{action "signIn" "google"}} class="transitions" id="signin-button"  title="Sign in with your Google Account"></button>
	<div id="landing-page-access-denied" class="transitions">Access Denied.</div>
</div>