#book-preview-title {
	margin-bottom: 15px;
	margin-right: 5px;
	display: inline-block;
}

#book-preview-cover {
	width: 20%;
	margin-right: 2%;
	display: inline-block;
	border: 0;
	padding: 0;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 5px rgba(138,133,138,1);
	-moz-box-shadow: 1px 1px 5px rgba(138,133,138,1);
	box-shadow: 1px 1px 5px rgba(138,133,138,1);
	float: left;
}

#book-preview-description {
	margin-left: 22%;
	padding: 10px;
	color: #707070;
	font-size: .9em;
	line-height: 1.5;
	background-color: #fff;
	border-radius: 5px;
	margin-bottom: 15px;
	-webkit-box-shadow: 1px 1px 5px rgba(138,133,138,1);
	-moz-box-shadow: 1px 1px 5px rgba(138,133,138,1);
	box-shadow: 1px 1px 5px rgba(138,133,138,1);
}

.btn-book-preview {
	width: max-content;
	padding: 10px;
	border-radius: 3px;
	color: #fff;
	background-color: #3d3d3d;
	border: 1px solid #3d3d3d;
	font-size: .9em;
	margin-left: 0;
	cursor: pointer;
	-webkit-box-shadow: 1px 1px 5px rgba(138,133,138,1);
	-moz-box-shadow: 1px 1px 5px rgba(138,133,138,1);
	box-shadow: 1px 1px 5px rgba(138,133,138,1);
}

.btn-book-preview:active {
	outline: none;
}

@media only screen and (max-device-width: 600px) {

	#book-preview-title {
		display: block;
	}

	#book-preview-cover {
		width: 100%;
		float: none;
		margin: auto;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	#book-preview-description {
		margin: auto;
		margin-top: -5px;
		padding-top: 15px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		margin-bottom: 25px;
	}

	.btn-book-preview {
		width: 100%;
		margin: auto;
	}

}