#book-details-title {
	margin-bottom: 7px;
	margin-right: 5px;
	display: inline-block;
}

#book-details-status {
	margin-bottom: 35px;
	padding: 5px;
	border-radius: 3px;
	width: max-content;
	color: #fff;
	display: inline-block;
	font-size: 0.9em;
	-webkit-box-shadow: 1px 1px 5px rgba(138,133,138,1);
	-moz-box-shadow: 1px 1px 5px rgba(138,133,138,1);
	box-shadow: 1px 1px 5px rgba(138,133,138,1);
}

.available-book {
	background-color: #43d58c;
}

.unavailable-book {
	background-color: #ff6a6a;
}

#book-details-cover {
	width: 20%;
	margin-right: 2%;
	display: inline-block;
	border: 0;
	padding: 0;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 5px rgba(138,133,138,1);
	-moz-box-shadow: 1px 1px 5px rgba(138,133,138,1);
	box-shadow: 1px 1px 5px rgba(138,133,138,1);
	float: left;
}

#book-details-description {
	margin-left: 21%;
	padding: 10px;
	color: #707070;
	font-size: .9em;
	line-height: 1.5;
	background-color: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 5px rgba(138,133,138,1);
	-moz-box-shadow: 1px 1px 5px rgba(138,133,138,1);
	box-shadow: 1px 1px 5px rgba(138,133,138,1);
}

@media only screen and (max-device-width: 600px) {

	#book-details-title {
		display: block;
	}

	#book-details-status {
		margin-bottom: 25px;
		width: 100%;
		text-align: center;
	}

	#book-details-cover {
		width: 100%;
		float: none;
		margin: auto;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	#book-details-description {
		margin: auto;
		margin-top: -2px;
		padding-top: 15px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		margin-bottom: 25px;
	}

}