#reviews {
	margin-top: 30px;
	margin-left: 22%;
}

#reviews h3{
	margin-bottom: 10px;
}

#review-input-area {
	width: 100%;
	height: 150px;
	resize: none;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	font-size: .8em;
	margin-bottom: 10px;
}

#review-input-area:focus {
	-webkit-box-shadow: 1px 1px 5px rgba(138,133,138,1);
	-moz-box-shadow: 1px 1px 5px rgba(138,133,138,1);
	box-shadow: 1px 1px 5px rgba(138,133,138,1);
}

.review-wrapper {
	margin-bottom: 35px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	background-color: #cccccc;
	position: relative;
}

.review-wrapper:after {
	border-left: 20px solid transparent;
	border-top: 20px solid #cccccc;
	bottom: -20px;
	content: "";
	position: absolute;
	right: 20px;
}

.reviewer {
	color: #3299cc;
	font-size: .8em;
}

.review {
	margin-top: 3px;
	font-size: .9em;
}

@media only screen and (max-device-width: 600px) {

	#reviews {
		margin: auto;
	}

	.review-wrapper:after {
	}

}